.header {
position: absolute;
width: 100%;
z-index: 55;
top: 25px;
    &__row {
        @include flexbox();
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    &__menu {
    }

    &__logo{
        @media(max-width: 680px){
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 2;
            @include tr(-50%,0px,0px);
        }
    }
}
.menu {

    &__icon {
    }

    &__body {
    }

    &__list {
        @include flexbox();
        li{
            padding: 0 15px ;
            &:first-child{
                padding: 0 15px 0 0;
            }
            &:last-child{
                padding: 0 0 0 15px;
            }
        }
    }

        &__link {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    position: relative;
    @include anim(0.3s, 0s);
    &:after{
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: #000000;
        bottom: 0;
        @include anim(0.3s, 0s);
    }
            &:hover{
                font-size: 18px;
            }
        }
    @media (max-width:680px){
        &__body {
            position: fixed;
            overflow: auto;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #555555;
            padding: 150px 0 0 0;
            @include tr(0px, -100%, 0px);
            @include anim(0.3s,0s);
            &.active{
                @include tr(0px, 0%, 0px);
            }
        }
        &__list{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                padding: 10px 0;
                &:first-child{
                    padding: 10px 0;
                }
                &:last-child{
                    padding: 10px 0;
                }
            }
        }
        &__link{
            font-size: 25px;
        }
    }
}
.icon-menu {
	@media (max-width:680px){
		display: block;
		position: absolute;
		top: 5px;
		right: 30px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #fff;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);background-color: #fff;
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
}

/* =========================================================== */
// .icon-menu {
// 	@media (max-width:767px){
// 		display: block;
// 		position: absolute;
// 		top: 33px;
// 		right: 15px;
// 		width:30px;
// 		height: 18px;
// 		cursor: pointer;
// 		z-index: 5;
// 		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #4d4959;
// 			&:first-child{top: 0px;}
// 			&:last-child{top: auto;bottom: 0px;}
// 		}
// 		&.active{
// 			span{@include scale(0);background-color: #fff;
// 				&:first-child{@include rotate(-45deg);top: 8px;}
// 				&:last-child{@include rotate(45deg);bottom: 8px;}
// 			}
// 		}
// 	}
// }